/* Entire Header */
.HeaderBar {
    background-color: #042563;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 1.6vmin);
    position: fixed;
    top: 0;
    width: 100%;
}

/* Logo */
.Signature-gif{
    height: 5vh;
    border-radius: 1vh;
    width: auto;
    display: flex;
    justify-content: left;
    margin-left: 3vh;
    margin-right: 3vh;
}


/* Nav Links */
.Nav-pages {
    flex: 2;
    padding-right: 1vh;
    display: flex;
}

.Nav-pages nav {
    display: inline;
}


/* Socials */
.Nav-socials {
    /* padding-left: 50%; */
    /* display: inline-block; */
    flex: 5;
    margin-right: 5vh;
}

.SocialLogo{
    height: 3vh;
    width: auto;
    float: right;
    position: right;
    border: 2px hidden #FCFCFF;
    border-radius: 5px;
    margin: 0 1vh 0 1vh; 
}