.IntroBox {
    display: flex;
    margin-top: 7vh;
    background-color: #FCFCFF;
}

.IntroBox p {
    color: #042563;
    font-size: 2em;
}

.WelcomeText {
    flex: 8;
    padding: 0 15vh 0 15vh;
    font-family: lato, sans-serif;
    font-weight: 300;
    font-style: normal;
}


.ProfilePortrait {
    margin-top: -7vh;
    flex: 1;
    height: 80vh;
    width: 80vh;
    animation: ProfilePortraitImg 1s 1 linear alternate;
}

/* banner slide down animation for profile portrait */
/* @keyframes ProfilePortraitImg {
    0% {transform: translateY(-100vh);}
    100% {transform: translateY(0);}
} */

.RightSpace {
    flex: 4;
}