.IntroBox {
    display: flex;
    margin-top: 7vh;
    background-color: #FCFCFF;
}

.IntroBox p {
    color: #042563;
    font-size: 2em;
}

.WelcomeText {
    flex: 8;
    padding: 0 15vh 0 15vh;
    font-family: lato, sans-serif;
    font-weight: 300;
    font-style: normal;
}


.ProfilePortrait {
    margin-top: -17vh;
    flex: 1;
    height: 100vh;
    width: 100vh;
}

.RightSpace {
    flex: 2;
}