.App {
  text-align: center;
  font-family: lato, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FCFCFf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #042563;
}

@keyframes App-logo-spin {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  20% {transform: translateY(-30px);} 
  40% {transform: translateY(-15px);}
  60% {transform: translateY(-8px);}

  /* from {
    transform: rotate(0deg);
    /* transform: perspective(20px); */
    /* transform: translateY(-500px); */
  /* }
  to {
    transform: rotate(360deg); */
    /* transform: perspective(40px); */
    /* transform: translateY(500px); */
  /* } */
}
